<div class="dashboard">
  <h1>Expense Report Dashboard</h1>
  <table>
    <caption>
      Welcome to your expense tracking dashboard!
    </caption>
    <thead>
      <tr>
        <th scope="col">Month</th>
        <th scope="col">Total Income</th>
        <th scope="col">Total Expense</th>
        <th scope="col">Net Savings</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      @for (expense of monthlyExpenses; track expense.month; let i = $index) {
        <tr>
          <th scope="row">{{ expense.month }}</th>
          <td>
            @if (expense.isEditing) {
              <input type="number" [(ngModel)]="expense.totalIncome" appValidateExpense />
            } @else {
              {{ expense.totalIncome }}
            }
          </td>
          <td>
            @if (expense.isEditing) {
              <input type="number" [(ngModel)]="expense.totalExpense" appValidateExpense />
            } @else {
              {{ expense.totalExpense }}
            }
          </td>
          <td>{{ expense.netSavings }}</td>
          <td>
            @if (expense.isEditing) {
              <button type="button" (click)="updateExpense(i)">Update</button>
            } @else {
              <button type="button" (click)="editExpense(i)">Edit</button>
            }
          </td>
        </tr>
      }
    </tbody>
    <tfoot>
      <tr>
        <th scope="row" colspan="3">Yearly Savings</th>
        <td colspan="2">{{ yearlySavings }}</td>
      </tr>
    </tfoot>
  </table>
</div>